@charset "utf-8";
/* CSS Document */
* {box-sizing:border-box;}
body {
	padding:0; 
	margin:0;
	background-color:#EEE;	
	color:#333;	
	font:100%/1.4 "Segoe UI","Segoe UI Light","Segoe Script";}
h1, h2, h3, h4, h5, h6 {
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0;
	font-weight:normal;}
a {
	color:inherit;	
	text-decoration:none;
	cursor:pointer;
	display:inline-block;}
ol, ul, dl {
	padding:0;
	margin:0;
	list-style-type:none;}
ul li {
	display:inline-block; 
	vertical-align:top;}
ol li {display:block;}	
li a {display:block;}
table, form {
	width:100%;
	border-collapse:collapse;}	
tr {vertical-align:top;}
th {cursor:default;}
th, td {white-space:nowrap;}
span {
	display:inline-block;
	vertical-align:top;}
address, var {
	font-style:normal;
	display:inline-block;}
input {width:95%;}
select {background-color:#FFF;}
textarea {font:100%/1.4 "Segoe UI","Segoe UI Light","Segoe Script";}
textarea {font:100%/1.4 "Segoe UI","Segoe UI Light","Segoe Script";}

